# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
*.coverage

# ENV
.env

# Logs
*.log

# Security captures
*.pcap

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Python environments
venv/
.env/

# Database volumes
postgres_data/


llm.md